//the main base styles

body {
	margin: 0;
	padding: 0;
	background: $coffee;
	color: $cream;
	font-family: $comic;
}

h1 {
	margin: 0;
	padding: 0;
}

h2, h3 {
    font-family: $fred;
    letter-spacing: 1px;
    margin: 0px 0px 15px;

    @media screen and (max-width: 799px) {
        margin: 0px 0px 9px;
    }
}

h3 {
    margin: 0 0 5px;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'] {
    border: 2px solid $coffee;
    padding: 5px;
    border-radius: 4px;
    color: $coffee;
    font-family: $robo;
    width: 200px;

    &::placeholder {
    	color: lightgray;
    }
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
}

footer {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	text-align: center;
}

table {
    border: 2px solid;
    padding: 5px;
    margin: 0 auto;

    tr:nth-of-type(odd) {
        background: rgba(255,255,255,0.5);
    }

    th,
    td {
        padding: 5px;
        border-bottom: 1px solid;
    }
}

a,
a:visited {
    color: inherit;
}

*[ng-click] {
    cursor: pointer;
}