@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Roboto+Mono:wght@300;400;700&family=Titan+One&family=Fredoka+One&display=swap');

$comic: 'Comic Neue', cursive;
$robo: 'Roboto Mono', monospace;
$titan: 'Titan One', cursive;
$fred: 'Fredoka One', cursive;;