.loading {
	position: absolute;
	display: flex;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255,0.5);
	box-shadow: inset 0 0 200px $coffee;
}

.cssload-fond{
	position:relative;
	margin: auto;
}

.cssload-container-general
{
	animation:cssload-animball_two 2.5s infinite;
		-o-animation:cssload-animball_two 2.5s infinite;
		-ms-animation:cssload-animball_two 2.5s infinite;
		-webkit-animation:cssload-animball_two 2.5s infinite;
		-moz-animation:cssload-animball_two 2.5s infinite;
	width:55px; height:55px;
}
.cssload-internal
{
	width:55px; height:55px; position:absolute;
}
.cssload-ballcolor
{
	width: 25px;
	height: 25px;
	border-radius: 50%;
}
.cssload-ball_1, .cssload-ball_2, .cssload-ball_3, .cssload-ball_4
{
	position: absolute;
	animation:cssload-animball_one 2.5s infinite ease;
		-o-animation:cssload-animball_one 2.5s infinite ease;
		-ms-animation:cssload-animball_one 2.5s infinite ease;
		-webkit-animation:cssload-animball_one 2.5s infinite ease;
		-moz-animation:cssload-animball_one 2.5s infinite ease;
}
.cssload-ball_1
{
	background-color:rgb(203,32,37);
	top:0; left:0;
}
.cssload-ball_2
{
	background-color:rgb(248,179,52);
	top:0; left:30px;
}
.cssload-ball_3
{
	background-color:rgb(0,160,150);
	top:30px; left:0;
}
.cssload-ball_4
{
	background-color:rgb(151,191,13);
	top:30px; left:30px;
}





@keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:15px; left:15px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-o-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:15px; left:15px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-ms-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:15px; left:15px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-webkit-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:15px; left:15px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@-moz-keyframes cssload-animball_one
{
	0%{ position: absolute;}
	50%{top:15px; left:15px; position: absolute;opacity:0.5;}
	100%{ position: absolute;}
}

@keyframes cssload-animball_two
{
	0%{transform:rotate(0deg) scale(1);}
	50%{transform:rotate(360deg) scale(1.3);}
	100%{transform:rotate(720deg) scale(1);}
}

@-o-keyframes cssload-animball_two
{
	0%{-o-transform:rotate(0deg) scale(1);}
	50%{-o-transform:rotate(360deg) scale(1.3);}
	100%{-o-transform:rotate(720deg) scale(1);}
}

@-ms-keyframes cssload-animball_two
{
	0%{-ms-transform:rotate(0deg) scale(1);}
	50%{-ms-transform:rotate(360deg) scale(1.3);}
	100%{-ms-transform:rotate(720deg) scale(1);}
}

@-webkit-keyframes cssload-animball_two
{
	0%{-webkit-transform:rotate(0deg) scale(1);}
	50%{-webkit-transform:rotate(360deg) scale(1.3);}
	100%{-webkit-transform:rotate(720deg) scale(1);}
}

@-moz-keyframes cssload-animball_two
{
	0%{-moz-transform:rotate(0deg) scale(1);}
	50%{-moz-transform:rotate(360deg) scale(1.3);}
	100%{-moz-transform:rotate(720deg) scale(1);}
}