.welcome {

    &__intro {

        &--buttons {
            text-align: center;
        }

        &--login {
            margin: 10px;
        }
    }

    &__login,
    &__forgot,
    &__account {

        &--form {
            width: 316px;
            margin: 0 auto;

            &-field {
                margin-bottom: 8px;
                text-align: right;
                font-size: 20px;

                &.remember,
                &.submit,
                &.forgot {
                    text-align: center;
                }

                &.forgot {
                    font-size: 0.9em;
                }

                &.tos {
                    font-size: 0.7em;
                }

                &.newsletter {
                    text-align: center;
                }
            }
        }
    }

    &__account--form {
        width: 345px;
    }
}